<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada rutrum scelerisque. Mauris quis enim sit amet nulla finibus accumsan non vitae sapien. </p>
                </div>
                <div class="col-lg-4">
                    <p>Aliquam dignissim, enim vitae finibus sagittis, velit ligula tincidunt libero, quis placerat tortor erat ut dolor. Etiam luctus ipsum quis turpis tincidunt, ut tempor purus fermentum. Etiam ornare, sapien sed porttitor sollicitudin, tortor libero tristique magna, id lacinia massa orci vehicula justo. Sed auctor faucibus libero. Aenean a pellentesque elit..</p>
                </div>
            </div>
        </div>
    </section>